<div class="container">
  <h1 class="header">All products</h1>
  <div class="col-2">
    <div class="columns is-centered">
      <div class="search-cards">
        <% @items.each do |item| %>
        <div class="items">
          <div class="item-desc">
            <p><%= item.name %> | <%= item.price %></p>
          </div>
          <div class="button">
            <%= button_to 'Add to list', add_item_line_item_path(@items), class: "btn btn-outline-primary", method: :post, style: "border-radius: 20px;" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <h1 class="header">Grocery List</h1>
  <div class="col-2">
    <div class="columns is-centered">
      <div class="grocery-cards">
        <% @line_items.each do |line| %>
        <p><%= line.item.name %> | <%= line.item.price %> | <%= line.quantity %></p>
        <% end %>
      </div>
    </div>
  </div>

</div>
