<body>
  <%# all products cover entire page, white txt, black backdrop %>
  <div class="product_bar">
    <h1>All products</h1>
  </div>

  <%# search bar similar to all products but colours reversed %>
  <div class="col-sm-7 my-3">
    <div class="product_search">
      <%= form_with url: search_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a product"%>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="display">
    <%# left div works fine %>
    <div class="card_wrap">
      <div class="left_div">
        <% @items.each do |item|  %>
        <div class="items" id="grocery_items">
          <%= image_tag item.photo_url, height: 120, width: 120, crop: :fill %>
          <div class="item_name"> <%= item.name %> </div>
          <div class="line_details">
            <%= item.stores.first.name %>
            <%= number_to_currency(item.price / 100.0, unit: '$', format: '%u%n') %>
          </div>
          <div class="button">
            <%= button_to 'Add to list', add_item_line_item_path(item), class: "btn btn-outline-primary", method: :post, style: "border-radius: 20px;", 'data-item-id': item.id %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <%# grocery items %>
    <div class="right_div">
     <h1 class="header">Grocery List</h1>
      <div class="list_bar">
        <div class="grocery-cards">
          <% @line_items.each do |line| %>
          <div class="line-item">
            <%= image_tag line.item.photo_url, height: 96, width: 120, crop: :fill %>
            <div class="grocery_details">
            <%= line.item.name %> | <%= line.item.stores.first.name %> |
            <%= number_to_currency(line.item.price * line.quantity / 100.0, unit: '$', format: '%u%n') %> | Qty:
            <%= line.quantity %>
            <div class="qty">
            <%= form_with model: line, method: :patch, url: adjust_item_line_item_path(line), local: false do |f| %>
            <%= f.number_field :quantity, min: 1, max: 100, data: { line_id: line.id } %>
            <%= f.submit %>
            <% end %>
            </div>
            </div>
            <div class="button">
              <%= button_to line_item_path(line), method: :delete, class: "btn btn-outline-danger", style: "border-radius: 20px;" do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <%= link_to "Save as current list", cart_path, method: :post, class: "btn btn-success", style: "border-radius: 20px;" %>
    </div>
  </div>
</body>
