<div class="container">

  <h1 class="header">All products</h1>

  <div class="col-sm-8 my-3">
    <%= form_with url: search_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a product"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>


    <div class="search-cards">
      <% @items.each do |item| %>
      <div class="items">
        <div class="item-desc">
          <p><%= image_tag item.photo, height: 300, width: 400, crop: :fill %><%= item.name %> | <%= number_to_currency(item.price, unit: '$', format: '%u%n') %></p>

  </div>
  
  <div class="col-2">
    <div class="columns is-centered">
      <div class="search-cards">
        <% @items.each do |item| %>
        <div class="items">
          <div class="item-desc">
            <p><%= item.name %> | <%= number_to_currency(item.price, unit: '$', format: '%u%n') %></p>
          </div>
          <div class="button">
            <%= button_to 'Add to list', add_item_line_item_path(@items), class: "btn btn-outline-primary", method: :post, style: "border-radius: 20px;" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>


  <h1 class="header">Grocery List</h1>
  <div class="col-2">
    <div class="columns is-centered">
      <div class="grocery-cards">
        <% @line_items.each do |line| %>
        <p><%= line.item.name %> | <%= line.item.price %> | <%= line.quantity %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
