<body>
  <%# all products cover entire page, white txt, black backdrop %>
  <div class="product_bar">
    <h1>All products</h1>
  </div>

  <%# search bar similar to all products but colours reversed %>
  <div class="col-sm-8 my-3">
    <%= form_with url: search_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a product"%>
    <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="display">
    <%# left div works fine %>
    <div class="card_wrap">
      <div class="left_div">
        <% @items.each do |item|  %>
        <div class="left_div" id="grocery_items">
          <p>
            <%= image_tag item.photo_url, height: 120, width: 120, crop: :fill %>
            <%= item.name %> | <%= item.stores.first.name %> |
            <%= number_to_currency(item.price / 100.0, unit: '$', format: '%u%n') %>
          </p>
          <div class="button">
            <%= button_to 'Add to list', add_item_line_item_path(item), class: "btn btn-outline-primary", method: :post, style: "border-radius: 20px;" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <%# grocery items %>
    <div class="right_div">
      <div class="list_bar">
        <h1 class="header">Grocery List</h1>
        <div class="grocery-cards">
          <% @line_items.each do |line| %>
          <div class="line-item">
            <%= image_tag line.item.photo_url, height: 96, width: 120, crop: :fill %>
            <%= line.item.name %> | <%= line.item.stores.first.name %> |
            <%= number_to_currency(line.item.price * line.quantity / 100.0, unit: '$', format: '%u%n') %> | Qty:
            <%= line.quantity %>
            <%= form_with model: line, method: :patch, url: adjust_item_line_item_path(line), local: false do |f| %>
            <%= f.number_field :quantity, min: 1, max: 100, data: { line_id: line.id } %>
            <%= f.submit %>
            <% end %>
            <div class="button">
              <%= button_to 'Remove', line_item_path(line), class: "btn btn-outline-danger", method: "delete" , style: "border-radius: 20px;" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <%= link_to "Save as current list", cart_path, method: :post, class: "btn btn-success", style: "border-radius: 20px;" %>
    </div>
  </div>
>>>>>>> d3632139d09e14bc1f1017ff3cb231c8df7497fb
</body>
